<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>直播</string>
		<key>icon</key>
		<string>ic_category_live</string>
	</dict>
	<dict>
		<key>name</key>
		<string>番剧</string>
		<key>icon</key>
		<string>ic_category_t13</string>
	</dict>
	<dict>
		<key>name</key>
		<string>动画</string>
		<key>icon</key>
		<string>ic_category_t1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>音乐</string>
		<key>icon</key>
		<string>ic_category_t3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>舞蹈</string>
		<key>icon</key>
		<string>ic_category_t129</string>
	</dict>
	<dict>
		<key>name</key>
		<string>游戏</string>
		<key>icon</key>
		<string>ic_category_t4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>科技</string>
		<key>icon</key>
		<string>ic_category_t36</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐</string>
		<key>icon</key>
		<string>ic_category_t5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>鬼畜</string>
		<key>icon</key>
		<string>ic_category_t119</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电影</string>
		<key>icon</key>
		<string>ic_category_t23</string>
	</dict>
	<dict>
		<key>name</key>
		<string>电视剧</string>
		<key>icon</key>
		<string>ic_category_t11</string>
	</dict>
	<dict>
		<key>name</key>
		<string>时尚</string>
		<key>icon</key>
		<string>ic_category_unknown</string>
	</dict>
</array>
</plist>
