<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ic_home_black_24dp2</string>
				<key>title</key>
				<string>首页</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_file_download_black_24dp</string>
				<key>title</key>
				<string>离线管理</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ic_star_black_24dp1</string>
				<key>title</key>
				<string>我的收藏</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_history_black_24dp1</string>
				<key>title</key>
				<string>历史记录</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_people_black_24dp1</string>
				<key>title</key>
				<string>关注的人</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_account_balance_wallet_black_24dp1</string>
				<key>title</key>
				<string>消费记录</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>item</key>
		<array>
			<dict>
				<key>icon</key>
				<string>ic_settings_black_24dp1</string>
				<key>title</key>
				<string>设置</string>
			</dict>
			<dict>
				<key>icon</key>
				<string>ic_help_black_24dp1</string>
				<key>title</key>
				<string>帮助与反馈</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
